services:
  redis:
    image: redis:latest
    container_name: redis_container
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - innogram-network
  minio:
      image: minio/minio
      container_name: minio_container
      ports:
        - "9000:9000"
        - "9001:9001"
      environment:
        MINIO_ROOT_USER: minioadmin
        MINIO_ROOT_PASSWORD: minioadmin
      volumes:
        - minio_data:/data
      command: server /data --console-address ":9001"
      networks:
        - innogram-network
  createbuckets:
    image: minio/mc
    depends_on:
      - minio
    networks:
      - innogram-network
    entrypoint:
      - /bin/sh
      - -c
      - |
        echo "Waiting for MinIO..."
        until /usr/bin/mc alias set myminio http://minio:9000 minioadmin minioadmin; do
          sleep 1
        done
        
        echo "MinIO is UP!"
        /usr/bin/mc mb
        /usr/bin/mc anonymous set public myminio/innogram-bucket
        
        echo "Bucket created."
        exit 0
volumes:
  postgres_data:
  redis_data:
  minio_data:

networks:
  innogram-network: