services:
  redis:
    image: redis:latest
    container_name: redis_container
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - innogram-network

volumes:
  postgres_data:
  redis_data:

networks:
  innogram-network: